<h1>Welcome to the Shipping Project</h1>
<p>This is the final project for CS493 at Oregon State University.</p>
<p>Please <a href="/get_auth_login">Login</a> or <a href="/get_auth_signup">Sign Up</a> to manage boats.</p>
<p>First time users should use Sign Up. Returning users should use Login</p>